@import '../../styles/mixin';
// .row {
//   width: 100%;
//   margin: 0 auto;
//   padding: 40px 0;
// }

.cast-wrap {
  display: inline-block;
  width: 10%;
  margin: 1.25%;

  @include break-point($max-width: $md-min) {
    width: 20%;
    margin: 2.5%;
  }
  @include break-point($max-width: $sm-min) {
    width: 46%;
    margin: 1%;
  }
  @include break-point($max-width: $xs-min) {
    width: 96%;
    margin: 2%;
  }
}
