<div class="card">
  <img class="card-img-top" src="https://image.tmdb.org/t/p/w1000{{ feature.poster_path }}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{ feature.title }}</h4>
    <p class="card-text">{{ feature.overview }}</p>
    <br>
    <span class="font-weight-bold">Rating:</span>
    <div class="progress-wrap">
      <ngb-progressbar
           showValue="true"
           type={{classes}}
           [value]="feature.vote_average * 10">
       </ngb-progressbar>
       <br>
       <span class="font-weight-bold">Relese: </span><span class="badge badge-success">{{ feature.release_date | date }}</span>
     </div>
    <button (click)="onDetails(feature.id)" class="btn btn-primary btn-block">Details</button>
  </div>
</div>
