.genre {
  display: inline-block;
  padding: .5em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .3rem;
  background-color: #0275d8
}
.genre-wrap {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
